@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('./kolora.css');
@import url('./utils.css');

:root {
    --polygon-irregular-box: polygon(25px 3px, 100% 0, calc(100% - 20px) 100%, 0 calc(100% - 3px), 25px 3px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arsenal', Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--kolora-color-red);
    color: white;
}

.container-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.irregular-box-container {
    background-color: white;
    clip-path: var(--polygon-irregular-box);
    padding: 4px;
}

.irregular-box {
    background-color: black;
    color: white;
    clip-path: var(--polygon-irregular-box);
    padding: 15px 35px;
}

button {
    appearance: none;
    outline: none;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: var(--kolora-color-red);
}