@import url('./kolora.css');
@import url('./anims.css');
@import url('./collection-styles.css');
@import url('./input.css');
@import url('./utils.css');

body {
    --primary-color: #931621;
    --primary-variant-color: #dc7f9b;
    --secondary-color: #313a71;
    --secondary-variant-color: #6ea6c4;
    --background-color: #fff;
    --on-primary-color: #fcc;
    --on-primary-variant-color: #100;
    --on-secondary-color: #d2dfe5;
    --on-secondary-variant-color: #001;
    --on-background-color: #100;
    --spacing: 20px;
    --corner-radius: 10px;
}

body.theme-dark {
    --primary-color: #ac3c46;
    --primary-variant-color: #5b1b21;
    --secondary-color: #33385b;
    --secondary-variant-color: #7d9ec2;
    --background-color: #100002;
    --on-primary-color: #fdd;
    --on-primary-variant-color: #fdd;
    --on-secondary-color: #ddf;
    --on-secondary-variant-color: #002;
    --on-background-color: #fee;
}

body.theme-retro {
    --primary-color: #e9458e;
    --primary-variant-color: #f5a3c7;
    --secondary-color: #49cdcb;
    --secondary-variant-color: #8ba9d6;
    --background-color: #e0e2cf;
    --on-primary-color: #ebf79a;
    --on-primary-variant-color: #110;
    --on-secondary-color: #ebf79a;
    --on-secondary-variant-color: #110;
    --on-background-color: #467edb;
    --corner-radius: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    background: var(--background-color);
    color: var(--on-background-color);
    text-align: center;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    padding-top: calc(var(--spacing) / 2);
}

h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

p {
    font-size: .9rem;
    line-height: 1.5;
    text-align: left;
}

a,
.link {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

iframe {
    border-radius: var(--corner-radius);
}

main {
    display: grid;
    grid-template-columns: [full-start] 0 [main-start] 1fr [main-end] 0 [full-end];
    gap: var(--spacing);
    padding: var(--spacing) 0;
    text-align: left;
    align-items: center;
}

main>* {
    grid-column: main;
    max-width: calc(100vw - var(--spacing) * 2) !important;
}

@media (min-width: 768px) {
    .main-container {
        padding: 0 23%;
    }

    main {
        grid-template-columns: [full-start] 22% [main-start] 1fr [main-end] 22% [full-end];
    }

    main>* {
        max-width: calc(56vw - var(--spacing) * 2) !important;
    }
}

main > p {
    text-align: justify;
}

#kolora-title {
    color: #fff;
}

h1,
#kolora-title,
.tab,
.large-header * {
    text-decoration: none;
}