ul {
    border: 2px solid var(--primary-color);
    border-radius: var(--corner-radius);
    overflow: hidden;
}

ul>* {
    display: block;
    width: 100%;
}

ul li,
ul button {
    display: block;
    width: 100%;
    list-style: none;
    padding: calc(var(--spacing) / 2);
    border-bottom: 1px solid var(--primary-color);
}

ul button,
ul a {
    appearance: none;
    border: none;
    background-color: var(--primary-variant-color);
    color: var(--on-primary-variant-color);
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--primary-color);
    border-radius: var(--corner-radius);
}

table th,
table td {
    padding: calc(var(--spacing) / 2);
    border-bottom: 1px solid var(--primary-color);
    text-align: left;
}

table th {
    background-color: var(--primary-variant-color);
    color: var(--on-primary-variant-color);
}

table tr:nth-child(even) {
    background-color: var(--primary-variant-color);
}
