ul:not(.outlined-list)>* {
    margin-left: var(--spacing);
    line-height: 1.5;
}

ul:not(.outlined-list)>a {
    display: list-item;
}

ul.outlined-list {
    border: 2px solid var(--primary-color);
    border-radius: var(--corner-radius);
    overflow: hidden;
}

ul.outlined-list>* {
    display: block;
    width: 100%;
}

ul.outlined-list>* {
    display: block;
    width: 100%;
    list-style: none;
    padding: calc(var(--spacing) / 2);
    border-bottom: 1px solid var(--primary-color) !important;
    font-size: inherit;
    text-align: inherit;
}

ul.outlined-list :is(a, button) {
    appearance: none;
    border: none;
    background-color: var(--primary-variant-color);
    color: var(--on-primary-variant-color);
    cursor: pointer;
    text-decoration: none;
}

ul.outlined-list :is(a, button):hover {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--primary-color);
    border-radius: var(--corner-radius);
}

table th,
table td {
    padding: calc(var(--spacing) / 2);
    border-bottom: 1px solid var(--primary-color);
    text-align: left;
}

table th {
    background-color: var(--primary-variant-color);
    color: var(--on-primary-variant-color);
}

table tr:nth-child(even) {
    background-color: var(--primary-variant-color);
}