:root {
    --kolora-color-base: #87243f;
    --kolora-color-blue: #313b72;
    --kolora-color-blue-variant: #86bbd8;
    --kolora-color-purple: #531253;
    --kolora-color-purple-variant: #b68cf0;
    --kolora-color-red: #931621;
    --kolora-color-red-variant: #dc7f9b;
    --kolora-color-yellow: #dda448;
    --kolora-color-yellow-variant: #554640;
}

.comic-dots {
    background-image: radial-gradient(rgba(0, 0, 0, 0.15) 25%,
            transparent 25%);
    background-position: 0 0;
    background-size: 32px 32px;
}

:is(.panel-base, .panel-blue, .panel-blue-variant, .panel-purple, .panel-purple-variant, .panel-red, .panel-red-variant) a {
    color: var(--kolora-color-yellow);
}

:is(.panel-yellow, .panel-yellow-variant) a {
    color: var(--kolora-color-red);
}

.panel-base {
    background-color: var(--kolora-color-base);
    color: white;
}

.panel-blue {
    background-color: var(--kolora-color-blue);
    color: white;
}

.panel-blue-variant {
    background-color: var(--kolora-color-blue-variant);
    color: black;
}

.panel-purple {
    background-color: var(--kolora-color-purple);
    color: white;
}

.panel-purple-variant {
    background-color: var(--kolora-color-purple-variant);
    color: black;
}

.panel-red {
    background-color: var(--kolora-color-red);
    color: white;
}

.panel-red-variant {
    background-color: var(--kolora-color-red-variant);
    color: black;
}

.panel-yellow {
    background-color: var(--kolora-color-yellow);
    color: black;
}

.panel-yellow-variant {
    background-color: var(--kolora-color-yellow-variant);
    color: white;
}